<h1><%= @task.title %></h1>
<hr>
<p><%= @task.details%></p>
<hr>
<p><%= @task.completed%></p>
<% if @task.completed == false %>
  <p>This task is not completed</p>
<% else %>
  <p>This task is completed</p>
<% end %>

<%= link_to "edit task", edit_task_path %>

<%= link_to "back to list", tasks_path %>
